::-webkit-scrollbar {
    display: none;
}


/**************************** MENUUU ******************************************/
header{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
  
}

.recorte-DivHijo{
    width: 100%;
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.RecorteTema h2{
    margin: 0;
    font-weight: bold;
    font-family: "Roboto Serif", serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
    

}

.RecorteTema p{
    margin: 0;
    font-family: "Roboto Serif", serif;
    color: rgb(255, 255, 255);
    font-size: 53px;


}

.blurTitulo{
    width: 100%;
    z-index: 5;
    position: absolute;
}
.Fondo1{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
    z-index: 1;
    
}

.Nucleos{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    padding: 0;
    width: 95%;
    height: 70%;
    position: absolute;
    z-index: 15;
    display: flex;
    justify-content: center;
}

.Menu-Nucleo1, .Menu-Nucleo2, .Menu-Nucleo3{
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}


.Div-rectanguloTitulo{
    margin-right: 3%;
    width: 75%;
    display: flex;
    justify-content: center; 
}
.rectanguloTitulo{
    margin-right: 3%;
    display: flex;
    justify-content: center; 
}

.Div-rectanguloTitulo p {
    position: absolute ;
    width: 13%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto Serif", serif;
}


/* Menu nucleo1 hover imagen*/
.foto-contenedor
{
    width: auto;
    overflow: hidden;
}

.foto-hover {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .foto-hover:hover {
    transform: scale(1.2); 
    opacity: 1;
  }





/* Estilos del contenedor del robot*/
.RobotMenu {
    width: 50%;
    height: 31%;
    left: 52%;
    top: 105%;
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}



.toggle-checkbox {
    display: none; /* Oculta el checkbox */
    z-index: 100;
}

.label-robot{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82%;
   
    z-index: 100;
}

.RobotBlur1{
    width: 40%;
    height: 100%;

}


.RobotAnimacion1{
    z-index: 100;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.robot1, .robot1-alt {
    width: 70%;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.chispa, .chispa-alt { 
    bottom:173%;
    left: 66.2%;
    position: absolute;
    animation: pulse 0.7s infinite ease-in-out; /* Animación de pulso */
    transition: opacity 0.5s ease;
}

.chispa-alt, .robot1-alt {
    opacity: 0; /* Las imágenes alternas están ocultas inicialmente */
}


/* Animación de pulso para la chispa */
@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Ocultar las imágenes iniciales y mostrar las alternas cuando el checkbox esté marcado */
.toggle-checkbox:checked + label .robot1 {
    opacity: 0; /* Oculta la imagen inicial del robot */
}

.toggle-checkbox:checked + label .chispa {
    opacity: 0; /* Oculta la chispa inicial */
}

.toggle-checkbox:checked ~ .robot1-alt {
    opacity: 1; /* Muestra la imagen alterna del robot */
}

.toggle-checkbox:checked ~ .chispa-alt {
    opacity: 1; /* Muestra la chispa alterna */
}

/* Estilos del contenedor de animación del robot saludando */
.image-animation {
    margin-right: 3%;
    margin-bottom: 1%;
    bottom: 63%;
    right: 8%;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: absolute;
    z-index: 15;
   
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease; /* Transición suave al aparecer */
}

.toggle-checkbox:checked ~ .image-animation {
   
    opacity: 1; /* Muestra el contenedor de la animación al hacer clic */
}

/* Estilos de las imágenes que se alternan */
.img1, .img2 {
    margin-right: 2%;
    position: absolute;
   
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img1 {
    width: 43.5%;
    animation: alternar 0.4s infinite ease-in-out; /* Animación de 0.3 segundos */
}

.img2 {
    width: 44%;
    animation: alternar-reverse 0.4s infinite ease-in-out; /* Animación inversa */
}

.burbuja{
    z-index: 15;
    position: absolute;
    right: 50%;
    bottom: -40%;
}

.burbuja{
    width: 65%;
}

.Div-Burbuja1{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Div-Burbuja1 P{
    width: 60%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    bottom: -40%;
    right: 53%;
    z-index: 20;
}


/* Animación para alternar las imágenes */
@keyframes alternar {
    0%, 50% {
        opacity: 1; /* La imagen es visible durante la primera mitad */
    }
    50%, 100% {
        opacity: 0; /* La imagen se desvanece durante la segunda mitad */
    }
}

/* Animación inversa para la segunda imagen */
@keyframes alternar-reverse {
    0%, 50% {
        opacity: 0; /* La imagen está oculta durante la primera mitad */
    }
    50%, 100% {
        opacity: 1; /* La imagen aparece durante la segunda mitad */
    }
}



/*************** NUCLEO 1 **********************/

/********** TITULO************/

.Nucleo1{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}

.Fondo2{
    width: 100%;
    height: 1080px;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
 
}

.TituloNucleo1-Padre{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.TituloNucleo1-DivHijo1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 110px;
}


.TituloNucleo1-DivHijo1{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    height: 50%;
    margin-right: 80px;
    background-color: aqua;
}

.Cuadro1-Nucleo1{
    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    height: 1000px;
}


.Cuadro1-Nucleo1 img{
    width: 70%;
    height: 80%;
}



.Titulo-Nucleo1{

    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.Titulo-Nucleo1 hr{
    position: absolute;
    border: 0;
    height: 0.04%; /* Espesor de la línea */
    background-color: #ffffff; /* Color de la línea */
    width: 85%; /* Puedes ajustar el ancho */
    margin: 5% 0; /* Espaciado alrededor de la línea */
    z-index: 20;
    top: 55%;
    right: 11%;
  
}

.Titulo-Nucleo1 h2{
    color: rgb(255, 255, 255);
    font-size: 60px;
    width: 90%;
    text-align: left;
    font-weight: 700;
    font-family: "Roboto Serif", serif;
    z-index: 5;
    margin-left: 3%;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.8);
}

.Titulo-Nucleo1 p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 90%;
    text-align: left;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    z-index: 5;
    margin-left: 3%;
}


.Titulo-Nucleo1 img{
    position: absolute;
    min-width: 108%;

}


/*********** DBATE ******************/

.Fondo3{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}

/**********ROBOT MINIJUEGO**************/

.RobotMenu15 {
   
    width: 50%;
    height: 31%;
    position: absolute;
    z-index: 15;
    display: flex;
}



.toggle-checkbox15 {
    display: none; /* Oculta el checkbox */
    z-index: 100;
}

.label-robot15{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82%;
    z-index: 100;
}


.RobotAnimacion15{
    z-index: 100;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.robot15, .robot15-alt {
    width: 55%;
    cursor: pointer; 
    transition: opacity 0.5s ease;
}


.chispa15, .chispa15-alt { 
    left: 15.5%;
    bottom: 93%;
    position: absolute;
    animation: pulse 0.7s infinite ease-in-out; /* Animación de pulso */
    transition: opacity 0.5s ease;
}

.chispa15-alt, .robot15-alt {
    opacity: 0; /* Las imágenes alternas están ocultas inicialmente */
}


/* Animación de pulso para la chispa */
@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Ocultar las imágenes iniciales y mostrar las alternas cuando el checkbox esté marcado */
.toggle-checkbox15:checked + label .robot15 {
    opacity: 0; /* Oculta la imagen inicial del robot */
}

.toggle-checkbox15:checked + label .chispa15{
    opacity: 0; /* Oculta la chispa inicial */
}

.toggle-checkbox15:checked ~ .robot15-alt {
    opacity: 1; /* Muestra la imagen alterna del robot */
}

.toggle-checkbox15:checked ~ .chispa15-alt {
    opacity: 1; /* Muestra la chispa alterna */
}

/* Estilos del contenedor de animación del robot saludando */
.image-animation15 {
    width: 53%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 48%;
    right: 52%;
    position: absolute;
    z-index: 15;
   
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease; /* Transición suave al aparecer */
}

.toggle-checkbox15:checked ~ .image-animation15 {
   
    opacity: 1; /* Muestra el contenedor de la animación al hacer clic */
}

/* Estilos de las imágenes que se alternan */
.img1, .img2 {
    margin-right: 2%;
    position: absolute;
   
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img1 {
    width: 43.5%;
    animation: alternar 0.4s infinite ease-in-out; /* Animación de 0.3 segundos */
}

.img2 {
    width: 44%;
    animation: alternar-reverse 0.4s infinite ease-in-out; /* Animación inversa */
}

.burbuja15{
    width: 60%;
    z-index: 15;
    position: absolute;
    left: 60%;
    bottom: 80%;
    
}

.Div-Burbuja15{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Div-Burbuja15 P{
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    font-family:  "Roboto Serif", serif;
    position: absolute;
    left: 66%;
    bottom: 82%;
    z-index: 20;
}


/* Animación para alternar las imágenes */
@keyframes alternar {
    0%, 50% {
        opacity: 1; /* La imagen es visible durante la primera mitad */
    }
    50%, 100% {
        opacity: 0; /* La imagen se desvanece durante la segunda mitad */
    }
}

/* Animación inversa para la segunda imagen */
@keyframes alternar-reverse {
    0%, 50% {
        opacity: 0; /* La imagen está oculta durante la primera mitad */
    }
    50%, 100% {
        opacity: 1; /* La imagen aparece durante la segunda mitad */
    }
}

/***************************** MINIJUEGO DEBATE ********************/

/* Estilos generales */
.Debate-DivPadre {
    top: 30%;
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.debate-DivHijo1 {
    position: absolute;
    z-index: 20;  
    width: 50%;
    bottom: 60%;
    right: 40%;
  
}

.debate-DivHijo2 {
    position: absolute;
    z-index: 30;
    top: 60%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.debateCuadro {
    flex: 1 1 calc(33.33% - 10px);
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    position: relative;
    cursor: pointer;
}

.debateCuadro:hover{
    transform: scale(1.2);
    opacity: 0.7;
}

.cross {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* Oculto por defecto */
}

/* ventanaEmergente */
.ventanaEmergente {
    display: none;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    width: 75%;
    height: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.ventanaEmergente-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}

.infoventanaEmergenteMinijuego{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

.infoJuegoDiv1, .infoJuegoDiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.infoJuegoDiv1 h2{
    font-family:  "Roboto Mono", serif;
    font-weight: 700;
    font-size: 40px;
    margin: 20px 0 0 0;
}

.infoJuegoDiv1 img{
    width: 80%;
    height: 100%;
}

.infoJuegoDiv2 img{
    width: 70%;

}

.infoJuegoDiv2 p{
    position: absolute;
    z-index: 200;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    width: 15%;
    left: 17%;

}

/* Estilos para la estructura principal */
.respuestasventanaEmergenteMinijuego {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.preguntaventanaEmergenteMinijuego P {
    width: 90%;
    font-family: "Roboto Mono", serif;
    text-align: left;
    font-weight: 600;
    font-size: 35px;
    color: rgb(19, 53, 125);
}

.Respuestas {
    position: absolute;
    top: 26%;
    display: flex;
    height: 65%;
    flex-direction: column;
    justify-content: space-between;
}

.Respuestas img {
    width: 100%;
    cursor: pointer;
}



 .respuestaventanaEmergente1:hover{
    transform: scale(1.2);
 }



/* Contenedor que se expande */

/* Contenedores de texto que se expanden */
.contenedorTexto1{
    background-color: rgb(142, 154, 199);
    display: none; /* Oculto inicialmente */
    border: 1px solid #333;
    width: 40%; /* Ancho inicial */
    height: 13%;
    overflow: hidden;
    transition: width 0.5s ease;
    position: absolute;
    z-index: -1;
    top: 28.5%; /* Ajustar para cada contenedor */
    left: 51%;
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    font-family: "Inter", sans-serif;

}


.contenedorTexto2{
    background-color: rgb(142, 154, 199);
    display: none; /* Oculto inicialmente */
    border: 1px solid #333;
    width: 40%; /* Ancho inicial */
    height: 13%;
    overflow: hidden;
    transition: width 0.5s ease;
    position: absolute;
    z-index: -1;
    top: 52%; /* Ajustar para cada contenedor */
    left: 51%;

 
}

.contenedorTexto3{
    background-color:rgb(142, 154, 199);
    display: none; /* Oculto inicialmente */
    border: 1px solid #333;
    width: 40%; /* Ancho inicial */
    height: 13%;
    overflow: hidden;
    transition: width 0.5s ease;
    position: absolute;
    z-index: -1;
    top: 75%; /* Ajustar para cada contenedor */
    left: 51%;
}

.contenedorTexto1 p{
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    width: 90%;
    margin-left: 7%;
    text-align: left;
}


.contenedorTexto2 p{
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    width: 90%;
    margin-left: 7%;
    text-align: left;
}

.contenedorTexto3 p{
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    width: 90%;
    margin-left: 7%;
    text-align: left;
}




.contenedorTexto1.expandido {
    width: 90%; /* Ancho cuando se expande */
    height: 9%;
}





.ventanaEmergente .cerrar {
    width: 10%;
    z-index: 1000;
    position: absolute;
    top: 1%;
    right: -6%;
    font-size: 40px;
    cursor: pointer;
}

.cerrar img{
    width: 35%;
}



/*********** ENcuesta ******************/

.Fondo5{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}


.Encuesta1-DivPadre {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 100;
    top: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

}

.Encuesta1-DivHijo1{
    width: 15%;
    margin: 0;
}

.Encuesta1-DivHijo1 img{
    width: 80%;
}

.Encuesta1-DivHijo2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EncuestaTexto1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.EncuestaTexto1 p{
    position: absolute;
    width: 15%;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
}



.EncuestaBotones1 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BotonLike1, .BotonNoLike1 {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease; /* Para el efecto de agrandar */
}

.BotonLike1{
    display: flex;
    justify-content: end;
    width: 15%;
    margin-right: 2.5%;
}

.BotonNoLike1 {
    display: flex;
    justify-content: center;
    width: 15%;
    margin-left: 2.5%;
}

.BotonLike1 img, .BotonNoLike1 img {
    width: 100%;
    cursor: pointer;
}

.BotonLike1.clicked1, .BotonNoLike1.clicked1 {
    transform: scale(1.2); /* Aumenta el tamaño al ser clickeado */
}

.EncuestaNegativa1, .EncuestaPositiva1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:55%;
    width: 25%;

    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 20px;
    font-weight: 700;
}

.EncuestaNegativa1 img, .EncuestaPositiva1 img {
    width: 100%;
}

.oculto1 {
    display: none;
}


/*************** NUCLEO 2 **********************/

/********** Menuuuu ************/


.Nucleo2{
    display: block;
    position: relative;
    width: 100%;
    background-color: aqua;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
  
}

.Fondo1{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}

.Menu2-Nucleos{
    position: absolute;
    margin-top: 50px;
  
    padding: 0;
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: 15;
    display: flex;
    justify-content: center;
}

.Menu2-Nucleo1, .Menu2-Nucleo2, .Menu2-Nucleo3{
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.Menu2-Nucleo1, .Menu2-Nucleo3{
    opacity: 0.5;
}

.Menu2-Nucleo1:hover , .Menu2-Nucleo3:hover{
    opacity: 1;
}

.foto-contenedor2{
    width: 100%;
}

.Div-rectanguloTitulo2{
    margin-right: 3%;
    width: 75%;
    display: flex;
    justify-content: center; 
}

.Div-rectanguloTitulo2 p {
    position: absolute ;
    width: 13%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto Serif", serif;
}

.rectanguloTitulo2{
    bottom: 11000%;
    margin-right: 3%;
    display: flex;
    justify-content: center; 

}

.Div-rectanguloTitulo{
    margin-right: 3%;
    width: 75%;
    display: flex;
    justify-content: center; 
}

.rectanguloTitulo{
    margin-right: 3%;
    display: flex;
    justify-content: center; 
}

.Div-rectanguloTitulo p {
    position: absolute ;
    width: 13%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto Serif", serif;
}


/* Estilos del contenedor del robot*/
.RobotMenu2 {
    width: 50%;
    height: 31%;
    left: 50%;
    top: 105%;
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}



.toggle-checkbox2 {
    display: none; /* Oculta el checkbox */
    z-index: 100;
}

.label-robot2{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    z-index: 10000;
}

.RobotBlur2{
    width: 40%;
    height: 100%;

}


.RobotAnimacion2{
    z-index: 100;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.robot2, .robot2-alt {
    width: 70%;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.chispa2, .chispa2-alt { 
    bottom:215%;
    left: 67.3%;
    position: absolute;
    animation: pulse 0.7s infinite ease-in-out; /* Animación de pulso */
    transition: opacity 0.5s ease;
}

.chispa2-alt, .robot12alt {
    opacity: 0; /* Las imágenes alternas están ocultas inicialmente */
}


/* Animación de pulso para la chispa */
@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Ocultar las imágenes iniciales y mostrar las alternas cuando el checkbox esté marcado */
.toggle-checkbox2:checked + label .robot2 {
    opacity: 0; /* Oculta la imagen inicial del robot */
}

.toggle-checkbox2:checked + label .chispa2 {
    opacity: 0; /* Oculta la chispa inicial */
}

.toggle-checkbox2:checked ~ .robot2-alt {
    opacity: 1; /* Muestra la imagen alterna del robot */
}

.toggle-checkbox2:checked ~ .chispa2-alt {
    opacity: 1; /* Muestra la chispa alterna */
}

/* Estilos del contenedor de animación del robot saludando */
.image-animation2 {
    margin-right: 3%;
    margin-bottom: 1%;
    bottom: 63%;
    right: 8%;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: absolute;
    z-index: 105;
   
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease; /* Transición suave al aparecer */
}

.toggle-checkbox2:checked ~ .image-animation2 {
   
    opacity: 1; /* Muestra el contenedor de la animación al hacer clic */
}

/* Estilos de las imágenes que se alternan */
.img1, .img2 {
    margin-right: 2%;
    position: absolute;
   
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img1 {
    width: 43.5%;
    animation: alternar 0.4s infinite ease-in-out; /* Animación de 0.3 segundos */
}

.img2 {
    width: 44%;
    animation: alternar-reverse 0.4s infinite ease-in-out; /* Animación inversa */
}

.burbuja2{
    z-index: 100;
    position: absolute;
    right: 50%;
    bottom: -40%;
}

.burbuja2{
    width: 65%;
}

.Div-Burbuja2{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Div-Burbuja2 P{
    width: 60%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    bottom: -10%;
    right: 53%;
    z-index: 300;
}


/* Animación para alternar las imágenes */
@keyframes alternar {
    0%, 50% {
        opacity: 1; /* La imagen es visible durante la primera mitad */
    }
    50%, 100% {
        opacity: 0; /* La imagen se desvanece durante la segunda mitad */
    }
}

/* Animación inversa para la segunda imagen */
@keyframes alternar-reverse {
    0%, 50% {
        opacity: 0; /* La imagen está oculta durante la primera mitad */
    }
    50%, 100% {
        opacity: 1; /* La imagen aparece durante la segunda mitad */
    }
}



/********** TITULO************/

.Nucleo2{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}

.Fondo2{
    width: 100%;
    position: absolute;
    z-index: 10;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}

.TituloNucleo2-Padre{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: aqua;
    z-index: 200;
}

.TituloNucleo2-DivHijo1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 110px;
}


.TituloNucleo2-DivHijo2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    height: 50%;
    margin-right: 80px;
}

.Cuadro1-Nucleo2{
    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    height: 1000px;
}


.Cuadro1-Nucleo2 img{
    width: 70%;
    height: 80%;
}



.Titulo-Nucleo2{
    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.Titulo-Nucleo2 hr{
    position: absolute;
    border: 0;
    height: 0.04%; /* Espesor de la línea */
    background-color: #ffffff; /* Color de la línea */
    width: 40%; /* Puedes ajustar el ancho */
    margin: 5% 0; /* Espaciado alrededor de la línea */
    z-index: 20;
    top: 32.5%;
    right: 11%;
  
}

.Titulo-Nucleo2 h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    width: 90%;
    text-align: left;
    font-weight: 700;
    font-family: "Roboto Serif", serif;
    z-index: 5;
    margin-left: 3%;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.8);;
}

.Titulo-Nucleo2 p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 90%;
    text-align: left;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    z-index: 5;
    margin-left: 3%;
}

.Titulo-Nucleo2 img{
    width: 53%;
    position: absolute;
    right: 0.2%;
    opacity: 5;
}


.TituloImagen-Nucleo2{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.TituloImagen-Nucleo2 img{
    width: 80%;
}

.TituloImagen1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TituloImagen2{
    display: flex;
    justify-content: center;
}

/********* INTRODUCCION *************/

.Fondo3{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}


.Intro-DivPadre{
    display: flex;
   flex-direction: row;
   justify-content:end ;
   z-index: 5;
   position: absolute;
   width: 100%;
   height: 1080px;
}

.Intro-DivHijo1{
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    padding-bottom: 13%;
    margin-left: 17%;
 
}

.Intro-DivHijo1 h2{
    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    width: 87%;
}

.Intro-DivHijo1 p{
    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 40px;
    width: 80%;


}

.Intro-DivHijo2{
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.Intro-DivHijo2 img{
    width: 50%;
}

/************ CARROUSEL NUCLEO 2 *************/
.herramientas{
    width: 100%;
    height: 1080px;
    position: absolute;
    z-index: 20;
}

.titutoloCarrousel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titutoloCarrousel h2{
    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 50px;
    font-weight: bold;
    margin-left: 2%;
}

.slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    cursor: grab;
    overflow-x: auto; /* Asegúrate de que la barra de desplazamiento se habilite */
    scroll-behavior: smooth;
    width: 100%;
    height: 55%;
  }
  
  .slide {
    min-width: 16%;
    height: 65%;
    background-color: #ffffff;
    margin-right: 10%;
    margin-left: 20%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease; /* Transición para el efecto de zoom */
  }
  
  .slide0{
    display: block;
    min-width:23%;
    background-color: #ffffff;
  }
  
  .slide-1, .slide-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(19, 53, 125);
  }

  .slide-1, .slide-5  p{
    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 30px;
    font-weight: bold;
  }

  .slide-5 img{
    width: 70%;
  }
  .slide-1 img{
    width: 70%;
  }
  
  .slide-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(219, 142, 36);
  }

  .slide-2 img{
    width: 80%;
  }

  .slide-2 p{
    font-family: "Inter", sans-serif;
    color: rgb(219, 142, 36);
    font-size: 30px;
    font-weight: bold;
  }
  
  .slide-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(97, 119, 62);
  }
  
  .slide-3 p{
    font-family: "Inter", sans-serif;
    color: rgb(97, 119, 62);
    font-size: 30px;
    font-weight: bold;
  }

  .slide-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(142, 74, 54);
  }

  .slide-4 p{
    font-family: "Inter", sans-serif;
    color: rgb(142, 74, 54);
    font-size: 30px;
    font-weight: bold;
  }

  .slide-4 img{
    width: 60%;
  }
  
  .slider:active {
    cursor: grabbing;
  }
  
  /* Efecto hover para agrandar */
  .slide:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
    z-index: 1; /* Trae el slide al frente */
  }
  
  
  .popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
  
  }
  
  
  .popup-content {
    width: 55%;
    height: 48%;
    background-color: white;
    border: 15px solid rgb(219, 142, 36);
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logoIA{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logoIA img{
    width: 100%;
  }
  
  .TITULO{
    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 40px;
    font-weight: bold;
  }
  
  .textoPaises, .textoFundadores{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 30px;
    
  }

  .textoPaises img{
    width:15% ;
    height: 7.5%;
    margin-left: 3%;
  }

  .textoFundadores img{
    width:12% ;
    height: 12%;
    margin-left: 3%;
  }

  .textoCaracteristicas{
    width: 100%;
    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 26px;
  }

  .BOTON{
    margin-bottom: 5%;
   padding: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
   border-radius: 10px;
   font-family: "Inter", sans-serif;
   color: #ffffff;
   font-size: 30px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
  }
  
  .overlay-image {
    max-width: 80%;
    max-height: 80%;
  }
  
  .close-overlay {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  /********** Encuesta Nucleo 2 ************/

/* Estilos generales */
.Encuesta-DivPadre {
    width: 100%;
    height:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    position: absolute;
    z-index: 100;
}

.Encuesta-DivHijo1{
    width: 15%;
    margin: 0;
}

.Encuesta-DivHijo1 img{
    width: 80%;
}

.Encuesta-DivHijo2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EncuestaTexto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.EncuestaTexto p{
    position: absolute;
    width: 15%;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}



.EncuestaBotones {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BotonLike, .BotonNoLike {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease; /* Para el efecto de agrandar */
}

.BotonLike{
    display: flex;
    justify-content: end;
    width: 15%;
    margin-right: 2.5%;
}

.BotonNoLike {
    display: flex;
    justify-content: center;
    width: 15%;
    margin-left: 2.5%;
}

.BotonLike img, .BotonNoLike img {
    width: 100%;
    cursor: pointer;
}

.BotonLike.clicked, .BotonNoLike.clicked {
    transform: scale(1.2); /* Aumenta el tamaño al ser clickeado */
}

.EncuestaNegativa, .EncuestaPositiva {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 28%;
    width: 25%;

    font-family: "Inter", sans-serif;
    color: rgb(19, 53, 125);
    font-size: 20px;
    font-weight: 700;
}

.EncuestaNegativa img, .EncuestaPositiva img {
    width: 100%;
}

.oculto {
    display: none;
}



/*************** NUCLEO 3 **********************/

/********** Menuuuu ************/
.Nucleo3{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aqua;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
  
}

.Fondo1{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
}

.Menu3-Nucleos{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    padding: 0;
    width: 95%;
   
    position: absolute;
    z-index: 15;
    display: flex;
    justify-content: center;
}

.Menu3-Nucleo1, .Menu3-Nucleo2, .Menu3-Nucleo3{
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.Menu3-Nucleo1, .Menu3-Nucleo2{
    opacity: 0.5;
}

.Menu3-Nucleo1:hover , .Menu3-Nucleo2:hover{
    opacity: 1;
}

.foto-contenedor3{
    width: 100%;
}


/* Estilos del contenedor del robot*/
.RobotMenu3 {
    width: 45%;
    height: 31%;
    left: 55%;
    top: 105%;
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}



.toggle-checkbox3 {
    display: none; /* Oculta el checkbox */
    z-index: 100;
}

.label-robot3{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    z-index: 10000;
}

.RobotBlur3{
    width: 40%;
    height: 100%;

}


.RobotAnimacion3{
    z-index: 100;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.robot3, .robot3-alt {
    width: 70%;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.chispa3, .chispa3-alt { 
    bottom:173%;
    left: 66.5%;
    position: absolute;
    animation: pulse 0.7s infinite ease-in-out; /* Animación de pulso */
    transition: opacity 0.5s ease;
}

.chispa3-alt, .robot3alt {
    opacity: 0; /* Las imágenes alternas están ocultas inicialmente */
}


/* Animación de pulso para la chispa */
@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Ocultar las imágenes iniciales y mostrar las alternas cuando el checkbox esté marcado */
.toggle-checkbox3:checked + label .robot3{
    opacity: 0; /* Oculta la imagen inicial del robot */
}

.toggle-checkbox3:checked + label .chispa3{
    opacity: 0; /* Oculta la chispa inicial */
}

.toggle-checkbox3:checked ~ .robot3-alt {
    opacity: 1; /* Muestra la imagen alterna del robot */
}

.toggle-checkbox3:checked ~ .chispa3-alt {
    opacity: 1; /* Muestra la chispa alterna */
}

/* Estilos del contenedor de animación del robot saludando */
.image-animation3 {
    margin-right: 3%;
    margin-bottom: 1%;
    bottom: 63%;
    right: 8%;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: absolute;
    z-index: 105;
   
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease; /* Transición suave al aparecer */
}

.toggle-checkbox3:checked ~ .image-animation3 {
   
    opacity: 1; /* Muestra el contenedor de la animación al hacer clic */
}

/* Estilos de las imágenes que se alternan */
.img1, .img2 {
    margin-right: 2%;
    position: absolute;
   
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img1 {
    width: 43.5%;
    animation: alternar 0.4s infinite ease-in-out; /* Animación de 0.3 segundos */
}

.img2 {
    width: 44%;
    animation: alternar-reverse 0.4s infinite ease-in-out; /* Animación inversa */
}

.burbuja3{
    z-index: 100;
    position: absolute;
    right: 50%;
    bottom: -40%;
}

.burbuja3{
    width: 65%;
}

.Div-Burbuja3{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Div-Burbuja3 P{
    width: 60%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    bottom: -18%;
    right: 53%;
    z-index: 300;
}


/* Animación para alternar las imágenes */
@keyframes alternar {
    0%, 50% {
        opacity: 1; /* La imagen es visible durante la primera mitad */
    }
    50%, 100% {
        opacity: 0; /* La imagen se desvanece durante la segunda mitad */
    }
}

/* Animación inversa para la segunda imagen */
@keyframes alternar-reverse {
    0%, 50% {
        opacity: 0; /* La imagen está oculta durante la primera mitad */
    }
    50%, 100% {
        opacity: 1; /* La imagen aparece durante la segunda mitad */
    }
}




.Div-rectanguloTitulo3{
    margin-right: 3%;
    width: 75%;
    display: flex;
    justify-content: center; 
}

.Div-rectanguloTitulo3 p {
    position: absolute ;
    width: 13%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto Serif", serif;
}

.rectanguloTitulo3{
    bottom: 11000%;
    margin-right: 3%;
    display: flex;
    justify-content: center; 

}


/* PARTE DE TITULO NUCLEO 3*/

.TituloNucleo3-Padre{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: aqua;
    z-index: 200;
}

.TituloNucleo3-DivHijo1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 110px;
}


.Cuadro1-Nucleo3{
    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    height: 1000px;
}


.Cuadro1-Nucleo3 img{
    width: 80%;
    height: 80%;
}


.Titulo-Nucleo3{
    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.Titulo-Nucleo3 hr{
    position: absolute;
    border: 0;
    height: 0.04%; /* Espesor de la línea */
    background-color: #ffffff; /* Color de la línea */
    width: 45%; /* Puedes ajustar el ancho */
    margin: 5% 0; /* Espaciado alrededor de la línea */
    z-index: 20;
    top: 42%;
    right: 11%;
  
}

.Titulo-Nucleo3 h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    width: 90%;
    text-align: left;
    font-weight: 700;
    font-family: "Roboto Serif", serif;
    z-index: 5;
    margin-left: 3%;
    text-shadow:5px 5px 10px rgba(0, 0, 0, 0.8);;
}

.Titulo-Nucleo3 p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 90%;
    text-align: left;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    z-index: 5;
    margin-left: 3%;
}

.Titulo-Nucleo3 img{
    width: 57%;
    position: absolute;
    right: 0.2%;
    opacity: 5;
}


.TituloImagen-Nucleo3{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.TituloImagen-Nucleo3 img{
    width: 80%;
}

.TituloImagen1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TituloImagen2{
    display: flex;
    justify-content: center;
}


/* TERMINA PARTE DE TITULO */


.carruselnucleo3{
    width: 100%;
    height: 1080px;
    position: absolute;
    z-index: 20;
}

/* swiper */
.swiper {
    width: 100%;
    overflow: hidden;

}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    align-items: stretch;
    gap: -1;
    /* Espacio entre imagen y texto */
    scroll-snap-align: start;
    min-width: calc(100% - 10%);
    /* Deja espacio para el siguiente slide */
}

.card {
    display: flex;
    align-items: stretch; /* Mantener la alineación estirada */
    flex-direction: row; /* Mantener el texto a la derecha */
}

.texto-frontal {
  
    position: absolute; /* Coloca el texto en posición absoluta */
    top: 24%; /* Centra verticalmente el primer texto */
    left: 5%; /* Centra horizontalmente */
    color: white; /* Color del texto */
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 600;
    font-family: "Inter", sans-serif;
    z-index: 10; /* Asegúrate de que el índice Z sea alto para estar encima de la imagen */
}

.texto-frontal2 {
    position: absolute; /* Coloca el segundo texto en posición absoluta */
    top: 30%; /* Ajusta la posición vertical del segundo texto */
    left: 5%; /* Mantiene la misma posición horizontal */
    color: white; /* Color del texto */
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 400;
    font-family: "Inter", sans-serif;
    z-index: 10; /* Asegúrate de que el índice Z sea alto para estar encima de la imagen */
}

.texto-frontal-ultimos {
    position: absolute; /* Coloca el texto en posición absoluta */
    top: 21%; /* Centra verticalmente el primer texto */
    left: 5%; /* Centra horizontalmente */
    color: white; /* Color del texto */
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 600;
    font-family: "Inter", sans-serif;
    z-index: 10; /* Asegúrate de que el índice Z sea alto para estar encima de la imagen */
}

.texto-frontal-ultimos2 {
    position: absolute; /* Coloca el segundo texto en posición absoluta */
    top: 28%; /* Ajusta la posición vertical del segundo texto */
    left: 5%; /* Mantiene la misma posición horizontal */
    color: white; /* Color del texto */
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 400;
    font-family: "Inter", sans-serif;
    z-index: 10; /* Asegúrate de que el índice Z sea alto para estar encima de la imagen */
}

.textocard-background {
    display: none;
    color: white;
    font-size: 30px;   
    text-align: left;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    margin: 387px 0px 0px 0px; /* Cambia el padding superior según sea necesario */
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 600px; /* Ajusta este valor según necesites */
    width: auto; /* Permite que el contenedor se ajuste automáticamente */
    height: auto; /* Cambiado para que se ajuste automáticamente */
}


img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    margin: 0;
}



.imagen-icono {
    width: 30px;
    height: auto;
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.dos-columnas {
    display: flex;
    justify-content: flex-start; /* Cambiado para reducir el espaciado */
    margin-top: 32px; /* Espacio vertical entre las filas */
}

.dos-columnas > div {
    margin-right: 25%; /* Ajusta este valor según sea necesario */
}

.dos-columnas > div:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}
/* para mostrar el fondo */
.texto-visible {
    display: block;
    
}

/* Colores de fondo para cada imagen */
.bg1 {
    background-color: #81985E;
    border-right: 20px solid #61773E;
}

.bg2 {
    background-color: #9B5555;
    border-right: 20px solid #6A3737;
}

.bg3 {
    background-color: #6E6868;
    border-right: 20px solid #3F3535;
}

.bg4 {
    background-color: #7778A0;
    border-right: 20px solid #4D4E70;
}

.bg5 {
    background-color: #558393;
    border-right: 20px solid #0B3F51;
}

.bg6 {
    background-color: #647DB2;
    border-right: 20px solid #13357D;
}